/*-- scss:rules --*/

.quarto-dashboard {

    /* value box*/
    /*    .bslib-value-box .value-box-value {
        font-size: clamp(1em, 10cqw, 1em) !important;
    }
*/


/* value_box elements */
.bslib-value-box {
  border-radius: 10px !important;
}

/* "to" element of date range element (the separator) */
.input-daterange .input-group-text {
    font-size: 14px !important;
    justify-content: center !important;
  }

/* download button */
.custom-download-button {
      width: 100% !important;
      border-color: #cccccc !important;
      border-radius: 4px !important;
      font-size: 14px !important;
      color: black !important;
      background-color: white !important;
}

/* buttonLabel of fileInput element */
.btn-file {
      border-color: #cccccc !important;
      border-radius: 4px !important;
      background-color: white !important;
      color: black !important;
      border: 1px solid #ccc !important;
      font-size: 14px !important;
    }

/* filename of fileInput element */
.form-control {
      border-color: #cccccc !important;
      border-radius: 4px !important;
      font-size: 14px !important;
      text-align: left !important;
    }

/* fileInput progress bar */
.progress-bar {
      color: black !important;
      background-color: #dce1e6 !important;
}

.form-control {
      text-align: center !important;
}

.columns-container {
  height: 80vh;
  overflow: hidden;
}


.top-left-container {
  height: 88px;
  border: none;
}

.bottom-left-container {
  height: 356px;
  border: none;
}

.top-left-container .irs--shiny .irs-handle.from {
    background-color: #f6f6f6 !important;
    background: #f6f6f6 !important;
}

.top-left-container .irs--shiny .irs-handle.to {
    background-color: #2780e3 !important;
    background: #2780e3 !important;
}

.top-right-container {
  height: 222px;
  border: none;
}

.bottom-right-container {
  height: 222px;
  border: none;
}


/* search box for species table */
.dataTables_filter {
    float: left !important;
}

    /* leaflet */
    .leaflet-control-container .leaflet-top.leaflet-left {
        /* positions of controls in leaflet container */
     position: absolute;
     top: auto;
     bottom: 3px;
     left: 3px;
     right: auto;
   }
    .leaflet-container .leaflet-control-zoom {
        /* position of controls in control container*/
        margin-left: 2px;
        margin-top: 2px;
    }

    .leaflet-touch {
        .leaflet-bar a {
            /* size of controls */
            width: 15px;
            height: 15px;
        }

        .leaflet-control-zoom-in,
        .leaflet-control-zoom-out {
            /* size of + and - */
            font-size: 12px;
            line-height: 12px;
        }
    }

    /* ion range slider */
    .irs--shiny {
        .irs-handle {
            background-color: white;
            width: 12px;
            height: 12px;
            top: 23px
        }

        .irs-handle:hover {
            background-color: white;
        }

        .irs-from {
            color: black;
            background: transparent
        }

        .irs-to {
            color: black;
            background: transparent
        }

        .irs-bar {
            display: none
        }

        .irs-bar::before {
            height: 50px
        }

        .irs-bar-edge {
            display: none
        }

        .irs-line {
            background-color: black;
            height: 6px;
            top: 26px
        }

        .irs-single {
            color: black;
            background: transparent
        }
    }

}